body{

    background-color: lightblue;
    margin: 0;
    padding: 0;

}


.titulo{

    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: lightslategray;
    letter-spacing: 2px;
 
}

.subtitulo{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: lightslategray;
}

form{

    width: 80%;
    max-width: 600px;
    background: white;
    margin: auto;
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);

}

.apartado{
    font-size: 30px;
    color: black;
    font-weight: bold;
    margin: 25px 0px 10px 0px;
}

select{

    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: 15px;
    margin-top: 5px;

}

.accesorios{

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    font-size: 20px;
    margin-top: 10px;

}

.accesorios label{

    display: flex;
    align-items: center;
    gap: 10px;

}

.button{

    margin-top: 30px;
    width: 100%;
    padding: 15px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    background-color: lightgreen;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

}

button:hover{

    background-color: darkcyan;

}

.etiqueta-final{

    width: 100%;
    padding: 15px 0;
    font-size: 20px;
    text-align: center;
    color: white;
    background-color: lightslategray;
    margin-top: 40px;

}