.titulo{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: lightslategray;
 
}

.subtitulo{
    width: 100%;
    height: 40px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: lightslategray;
}

.apartado{
    font-size: 30px;
    color: black;
    font-weight: bold;
}