.titulo{
    width: 100%;
    height: 20px;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: lightslategray;
}

.subtitulo{
    width: 100%;
    height: 20px;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    background-color: lightslategray;
}